@tailwind base;
@tailwind components;
@tailwind utilities;

.min-height{
  min-height: 100vh;
}

.spinLoading{
  animation: loading 2s linear infinite;
}

.progress-bar-fill{
  animation: fill 2.5s linear infinite
}

@keyframes fill {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
}
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
